*{
    font-family:'Roboto', sans-serif;;
    font-size:16px;
}
.maincontainer{
   width: 1000px;
    float: left;
    border: 2px solid black;
    padding: 20px;
    margin:10px;
    background-color: #080208;
    /*set margin according to alignment*/

    }
.navbar{
    height: 60px;
    background-color: #45E6BD;
    color:black;
    padding: 20px
}
.nav-head{
    float:left;
}
.nav-items{
    padding: 0 10px;
}
.nav-items li{
    display: inline-block;
    padding:0 20px;
    float: right;
}
.main-content {
     background-color: #FFE4C4;
    border: 4px double black;
    padding: 20px;
     margin:20px;
    overflow: auto;
 }
.text{
    color: darkblue;
    margin-left:260px;
}
.sidemenu{
    padding: 20px;
    background-color: #E9967A;
    color:darkred;
    float: left;
    position: relative;
    width: 200px;
    height: 100%;
}
h3{
    margin-top:0;
}

.footer{
    height: 30px;
    background-color: #45E6BD;
    color: #b6090c;
    padding: 20px;
    text-align: center;
}
