*{
font-family:'Roboto', sans-serif;
font-size:16px;
}
.maincontainer{
width: 1000px;
margin:0px auto;
padding :10px;
background-color: #FFF9F5;
}
.main-content {
background-color: #FFE4C4;
 padding: 10px;
margin: 0px;
overflow: auto;
}
p{
display: inline-block;
}
.text {
color: #292523;
margin: auto;
}
